[submodule "external/density"]
	path = external/density
	url = https://github.com/per-mathisen-arm/density.git
[submodule "external/tracetooltests"]
	path = external/tracetooltests
	url = https://github.com/ARM-software/tracetooltests.git
[submodule "external/spirv-simulator"]
	path = external/spirv-simulator
	url = https://github.com/ARM-software/spirv-simulator
[submodule "https://github.com/flanglet/kanzi-cpp.git"]
	url = external/kanzi
