[submodule "external/density"]
	path = external/density
	url = http://github.com/centaurean/density
[submodule "external/tracetooltests"]
	path = external/tracetooltests
	url = https://github.com/ARM-software/tracetooltests.git
[submodule "external/spirv-simulator"]
	path = external/spirv-simulator
	url = https://github.com/ARM-software/spirv-simulator
